{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} : le site qui va faire de vous un ninja du clavier !
{% endblock %}
{% block content %}
    <div id="accueil">
        <audio autoplay>
            <source src="{{ asset('audio/MrKey_Japan-Thriller_LMK.ogg') }}">
        </audio>
        <section>
            <aside class="taipingu"><img src="{{ asset('img/charte-graphique/taipingu.png') }}" alt="" /></aside>
            <article>
                <h2><a href="{{ path('learn') }}">Conseils et tutoriels</a></h2>
                <p>Apprenez à bien taper avec les enseignements de maître Taipingu, le premier ninjactylo&nbsp;!<br/><br/>(Attention, il n'est pas commode...)</p>
            </article>
        </section>
        <section>
            <article>
                <h2><a href="{{ path('practice') }}">Exercices pratiques</a></h2>
                <p>Vous devrez travailler dur pour devenir un vrai ninjactylo. Vos doigts seront bientôt affûtés comme des lames dignes des plus grands sabres de samuraïs.</p>
            </article>
            <aside class="taipingu"><img src="{{ asset('img/charte-graphique/taipingu-clavier.png') }}" alt="" /></aside>
        </section>
        <section>
            <aside class="taipingu"><img src="{{ asset('img/charte-graphique/taipingu-boxe.png') }}" alt="" /></aside>
            <article>
                <h2><a href="{{ path('fight') }}">Compétitions entre membres</a></h2>
                <p>Montrez votre talent pour le combat en affrontant vos semblables dans des compétitions dactylographiques.<br/><br/>Saurez-vous triompher ou finirez-vous au tapis&nbsp;?</p>
            </article>
        </section>
        <section>
            <article>
                <h2><a href="index.php?p=recompenses">Récompenses pour vos succès</a></h2>
                <p>Votre assiduité, votre acharnement au travail, ainsi que votre bravoure seront récompensés. Accomplissez les missions qui sont les vôtres et devenez le maître du Dojo.</p>
            </article>
            <aside class="taipingu"><img src="{{ asset('img/charte-graphique/taipingu-sabre.png') }}" alt="" /></aside>
        </section>
        <section>
            <aside class="taipingu"><img src="{{ asset('img/charte-graphique/taipingu-attaque.png') }}" alt="" /></aside>
            <article>
                <h2><a href="index.php?p=authentification">Création de compte</a></h2>
                <p>Inscrivez-vous sur Dojoctylo pour commencer l'aventure&nbsp;!<br/><br/>C'est totalement gratuit&nbsp;!</p>
            </article>
        </section>
    </div>
{% endblock %}
